{% extends 'watches/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><title>{% block title %}{{ designer.name }}{% endblock %}</title>
</head>
<body>
    {% block content %}

    <p><a href="{% url 'watches:designers' %}"><- Back to Designers</a></p>

    <h1>Designer Detail</h1>
    <h2>Name: {{ designer.name }}</h2>
    <h3>Watches:</h3>
    <ul>
    {% for watch in object.watch_set.all %}
        <li><a href="{% url 'watches:watch-detail' watch.pk %}">{{ watch.name }}</a></li>
    {% endfor %}
    </ul>

    <h2>Brands:</h2>
    <table class="content-table">
        <thead>
            <tr>
                <th>Brand</th>
                <th>Watches to sale</th>
            </tr>
        </thead>
        <tbody>
        {% for brand in related_brands %}
            <tr>
                <td><a href="{% url 'watches:brand-detail' brand.brand__pk %}">{{ brand.brand__name }}</a></td>
                <td>{{ brand.count }}</td>
             </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
</body>
</html>