{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><title>{% block title %}All Designers{% endblock %}</title>
</head>
<body>
    {% block content %}

    <h1>All Designers</h1>
    <h3>Total number of designer: {{ total_count }}</h3>
    {% if designer_list %}
    <table class="content-table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for designer in designer_list %}
                <tr>
                    <td><a href="{% url 'watches:designer-detail' designer.pk %}">{{ designer.name }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <p>There are no designers.</p>
    {% endif %}

    {% endblock %}
</body>
</html>