{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}
        <h1>Welcome your Watch Business Empire!</h1>
        <ul class="index-list">
            <li><a class="index-button" href="{% url 'users:email-notification' %}">Send e-mail notification</a></li>
            <li><a class="index-button" href="{% url 'watches:create-watch' %}">Create watch</a></li>
            <li><a class="index-button" href="{% url 'triangle:calc-hypo' %}">Calculate hypotenuse</a></li>
            <li><a class="index-button" href="{% url 'create-person' %}">Create person</a></li>
        </ul>
    {% endblock %}
</body>
</html>