.content {
            margin-left: 150px; /* Adjust the value as per your design */
            flex: 1; /* Add this property to make the content block expand */
}

.container {
    display: flex; /* Add this property to create a flex container */
}

.content-table {
    border-collapse: collapse;
    width: 70%;
}

.content-table th,
.content-table td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: left;
}

.content-table th {
    background-color: #f0f0f0;
}